<main class="grid__container">
  <section class="grid__columns">
    <img src="" alt="Ilustração representando guia de estilo" />
    <div>
      <h1>Guia de estilos Unimed</h1>
      <p>Faça sites responsivos, leves e de fácil manutenção que sigam todas as regras da Central da Marca Unimed!</p>
      <a class="btn btn--secondary-color-purple-dark" href="css/style.css" download>Faça o download do CSS</a>
      <a href="/introducao" class="btn btn--secondary-color-purple">Conhecer a documentação</a>
    </div>
  </section>
  <section class="grid__columns">
    <div>
      <img alt="Imagem representando velocidade"/>
      <p class="text--big">Rápido</p>
      <p>Com menos de 10kb, o guia de estilos é rápido e não pesa para o usuário.</p>
    </div>
    <div>
      <img alt="Imagem representando a Central da Marca Unimed"/>
      <p class="text--big">Central da Marca</p>
      <p>Todos os elementos construídos respeitando a Central da Marca Unimed.</p>
    </div>
    <div>
      <img alt="Imagem representando modernidade"/>
      <p class="text--big">Moderno</p>
      <p>Resposivo por natureza, seguindo uma metodologia avançada de Escrita de CSS, moderno por natureza.</p>
    </div>
  </section>
  <h2>Instalando</h2>
  <p>Você deve <a href="css/style.css" download>baixar a folha de estilos</a> do projeto e colocar como um link no seu
    projeto web. Pronto! Agora é só
    seguir as regras na <a href="/introducao">documentação</a> e você logo terá um site rápido moderno e eficiente.</p>
  <h2>Como contribuir?</h2>
  <p>O Guia de estilos Universal é desenvolvido pela <strong>Estação Inova Portal</strong> da Unimed do Brasil com o apoio
    da comunidade Unimed. Para contribuir acesse o <a href="https://gitlab.portalunimed.com.br/open-source/css-base">repositório do projeto</a>.</p>
  <h3>Primeiros passos contribuindo</h3>
  <p>O primeiro passo para fazer contribuições é adicionar sugestões de melhorias e bugs encontrados no <a href="https://gitlab.portalunimed.com.br/open-source/css-base/issues">painel de issues</a>.</p>
</main>