<main class="grid__container">
  <section class="grid__columns">
    <img src="" alt="TODO: Ilustração representando guia de estilo" />
    <div>
      <h1>Guia de estilos Unimed</h1>
      <p>Faça sites responsivos, leves e de fácil manutenção que seguem todas as regras da Central da Marca Unimed!</p>
      <a class="btn btn--secondary-color-purple-dark btn--small-margins" href="css/style.css" download>Faça o download do CSS</a>
      <a href="/introducao" class="btn btn--secondary-color-purple btn--small-margins">Conhecer a documentação</a>
    </div>
  </section>
  <section class="grid__columns">
    <div>
      <img src="img/illustrations/home/light-weight.svg" class="img--thumbnail" alt="Imagem de balões representando leveza"/>
      <p class="text--big">Leve</p>
      <p>Com menos de 30kb, o guia de estilos é rápido e não pesa para o usuário.</p>
    </div>
    <div>
      <img src="img/illustrations/home/mobile.svg" class="img--thumbnail" alt="Imagem representando a Central da Marca Unimed"/>
      <p class="text--big">Pronto para usar</p>
      <p>Pronto para qualquer Unimed usar! Todos os elementos construídos respeitam a Central da Marca Unimed.</p>
    </div>
    <div>
      <img src="img/illustrations/home/modern.svg" class="img--thumbnail" alt="Imagem de um cérebro com traços que lembram uma placa de circuitos representando tecnologia"/>
      <p class="text--big">Moderno</p>
      <p>Resposivo por natureza, seguindo uma metodologia avançada de escrita de CSS.</p>
    </div>
  </section>
  <h2>Instalando</h2>
  <p>Você deve <a href="css/style.css" download>baixar a folha de estilos</a> do projeto e colocar como um link no seu
    projeto web. Pronto! Agora é só
    seguir as regras na <a href="/introducao">documentação</a> e você logo terá um site rápido, moderno e eficiente.</p>
  <h2>Como contribuir?</h2>
  <p>O Guia de estilos Unimed é desenvolvido pela <strong>Estação Inova Portal</strong>, unidade de experiências digitais da Unimed do Brasil com o apoio
    das cooperativas Unimed. Para contribuir acesse o <a href="https://gitlab.portalunimed.com.br/open-source/css-base">repositório do projeto</a>.</p>
  <h3>Primeiros passos contribuindo</h3>
  <p>O primeiro passo para fazer contribuições é adicionar sugestões de melhorias e bugs encontrados no <a href="https://gitlab.portalunimed.com.br/open-source/css-base/issues">painel de issues</a>.</p>
</main>
<script>
  const menuButton = document.getElementById('menuButton');
  menuButton.style.visibility = "hidden";
</script>