<main class="grid__container">
  <div>
    <h1>Guia de estilos Unimed para projetos web</h1>
    <p>Esse Guia de estilos tem como objetivo unificar o CSS de todos os projetos web da Unimed.</p>
    <a class="btn btn--simple">Faça o download do CSS</a>
    <a class="btn">Conheça agora</a>
  </div>
</main>