.grid{

}

// Grid Elements
// ----------------------
.grid__container{
  max-width: $container-width;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 $unit-2;
}
.grid__columns{
  display:flex;
  flex-wrap: wrap;
  margin-right: - $unit-2;
  margin-left: - $unit-2;
  & > *{
    margin: $unit-2;
  }
}