// Basic components
p, span, ul, ol, a, legend {
  max-width: $max-text-column;
  line-height: $line-height;
}

h1, h2, h3, h4, h5, h6{
  line-height: $line-height-titles;
}

a {
  transition: $transition;
  color: $font-color;
  text-decoration: none;
  box-shadow: $button-shadow;
  &:hover{
    color: $link-color-hover;
    box-shadow: none;
    background: $gray-light;
  }
  &:focus{
    box-shadow: $button-shadow-focus;
    background: $focus;
    outline: none;
    color: black;
  }
}

// Typography Modifiers
// ----------------------
// Color Modifiers
.text--primary-color{
  color: $main-color;
}
.text--secondary-color{
  color: $contrast-color;
}