.btn, button, input[type="submit"], input[type="reset"]{
  -webkit-appearance: none;
  appearance: none;
  text-decoration: none;
  background: none;
  border: $unit / 2 solid $primary;
  border-radius: $radius;
  padding: 10px $unit-4;
  margin-top: $line-height;
  margin-bottom: $line-height;
  display: inline-block;
  color: $primary;
  text-align: center;
  cursor: pointer;
  box-shadow: none;
  transition: background-color $transition, border $transition;
  & > * {
    pointer-events: none;
  }
  &:focus{
    outline: $unit / 2 solid $focus;
    outline-offset: 0;
    border-color: $focus;
    box-shadow: none;
  }
  &:hover{
    background: $primary;
    border-color: $primary;
    color: white;
  }
  &:disabled{
    cursor: default;
    border-color: $gray;
    color: $gray;
    pointer-events: none;
  }
}

input[type="submit"], input[type="reset"]{
  display:block;
}

// Button Modifiers
// ----------------------
// Base Background color Mixin
@mixin buttonColor($background-color, $color: $white) {
  border-color: $background-color;
  background-color: $background-color;
  color: $color;
  &:hover{
    background: lighten($background-color, 10);
    border-color: lighten($background-color, 10);
    color: $color;
  }
}

// Backgrond color Modifiers
//.btn-primary is a Liferay class
.btn--primary-color, input[type="submit"].btn--primary-color, input[type="reset"].btn--primary-color, .btn-primary,.btn-primary.btn-default{
  @include buttonColor($primary);
  ::selection {
    background: $secondary-orange;
    color: white;
  }
  ::-moz-selection {
    background: $secondary-orange;
    color: white;
  }
}

//.btn-link.btn-default.btn-cancel are Liferay classes
.btn--secondary-color-magenta, input[type="submit"].btn--secondary-color-magenta, input[type="reset"].btn--secondary-color-magenta,.btn-link.btn-default.btn-cancel{
  @include buttonColor($secondary-magenta);
}

.btn--secondary-color-purple-dark, input[type="submit"].btn--secondary-color-purple-dark, input[type="reset"].btn--secondary-color-purple-dark{
  @include buttonColor($secondary-purple-dark);
}

.btn--secondary-color-purple, input[type="submit"].btn--secondary-color-purple, input[type="reset"].btn--secondary-color-purple{
  @include buttonColor($secondary-purple);
}

.btn--secondary-color-brown, input[type="submit"].btn--secondary-color-brown, input[type="reset"].btn--secondary-color-brown{
  @include buttonColor($secondary-brown);
}

.btn--secondary-color-orange, input[type="submit"].btn--secondary-color-orange, input[type="reset"].btn--secondary-color-orange{
  @include buttonColor($secondary-orange);
}

.btn--secondary-color-yellow, input[type="submit"].btn--secondary-color-yellow, input[type="reset"].btn--secondary-color-yellow{
  @include buttonColor($secondary-yellow, $primary-dark);
}

.btn--secondary-color-lime, input[type="submit"].btn--secondary-color-lime, input[type="reset"].btn--secondary-color-lime{
  @include buttonColor($secondary-lime, $primary-dark);
}

.btn--secondary-color-gray, input[type="submit"].btn--secondary-color-gray, input[type="reset"].btn--secondary-color-gray{
  @include buttonColor($gray);
}

// No background color Modifier
// The .btn-outline-borderless class is a Liferay class
.btn--simple, .btn-outline-borderless{
  background: none;
  border-color: rgba(255,255,255,0);
  color: $gray-darker;
   &:hover{
    background: none;
    border-color: rgba(255,255,255,0);
    color: $primary;
  }
}

.btn--float-right{
  float: right;
  margin-right: $unit;
  &:first-of-type{
    margin-right: 0;
  }
}

.btn--float-right, .card .btn.btn--float-right, .card button.btn--float-right{
  margin-top: $unit * 3;
}

.btn--small-margins, button.btn--small-margins, input[type="submit"].btn--small-margins, input[type="reset"].btn--small-margins{
  margin: $unit * 3 0;
}

// Media Querie
// ----------------------
@media (max-width: $break-default){
  .btn, button, input[type="submit"], input[type="reset"], .btn--small-margins, button.btn--small-margins, input[type="submit"].btn--small-margins, input[type="reset"].btn--small-margins{
    margin-top: 0;
    display: block;
  }
  button, input[type="submit"], input[type="reset"]{
    width: 100%;
  }
  .btn--float-right, .card .btn.btn--float-right, .card button.btn--float-right{
    margin-top: 0;
    max-width: 35%;
  }
}