input[type="submit"], input[type="reset"], button{
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  background: none;
}

.btn, button, input[type="submit"], input[type="reset"]{
  text-decoration: none;
  background: none;
  border: $unit / 2 solid $primary;
  border-radius: $radius;
  padding: $unit-2 $unit-4;
  margin-top: $unit-4;
  margin-bottom: $unit-2; 
  display: inline-block;
  color: $primary;
  cursor: pointer;
  box-shadow: none;
  transition: background-color $transition, border $transition;
  &:focus{
    outline: $unit / 2 solid $focus;
    outline-offset: 0;
    border-color: $focus;
    box-shadow: none;
  }
  &:hover{
    background: $primary;
    border-color: $primary;
    color: white;
  }
}

// Button Modifiers
// ----------------------
// Base Background color Mixin
@mixin buttonColor($background-color, $color: $white) {
  border-color: $background-color;
  background-color: $background-color;
  color: $color;
  &:hover{
    background: lighten($background-color, 10);
    border-color: lighten($background-color, 10);
    color: $color;
  }
}

// Backgrond color Modifiers
.btn--primary-color{
  @include buttonColor($primary);
}

.btn--secondary-color-magenta{
  @include buttonColor($secondary-magenta);
}

.btn--secondary-color-purple-dark{
  @include buttonColor($secondary-purple-dark);
}

.btn--secondary-color-purple{
  @include buttonColor($secondary-purple);
}

.btn--secondary-color-brown{
  @include buttonColor($secondary-brown);
}

.btn--secondary-color-orange{
  @include buttonColor($secondary-orange);
}

.btn--secondary-color-yellow{
  @include buttonColor($secondary-yellow, $primary-dark);
}

.btn--secondary-color-lime{
  @include buttonColor($secondary-lime, $primary-dark);
}

// No background color Modifier
.btn--simple{
  background: none;
  border-color: rgba(255,255,255,0);
  color: $gray-darker;
   &:hover{
    background: none;
    border-color: $white;
    color: $secondary-magenta;
  }
}

.btn--float-right{
  float: right;
}