.card{
  padding: $unit-4;
  border-radius: $radius;
  box-shadow: $shadow;
  display: inline-block;
  background: $white;
}

// Card Elements
// ----------------------
.card__small{
  width: $container-width / 3 - 48;
}

// Media Querie
// ----------------------
@media (max-width: $break-default){
  .card__small{
    min-width: $unit * 50;
  }
}