.card{
  padding: $unit-4;
  border-radius: $radius;
  box-shadow: $shadow;
  display: inline-block;
  background: $white;
}

// Card Elements
// ----------------------
.card__small{
  width: $container-width / 3 - 48;
}

// Card modifiers
// ----------------------
// Base Background color Mixin
@mixin cardColor($background-color, $color: $white) {
  background-color: $background-color;
  color: $color;
  .btn, button, input[type="submit"], input[type="reset"],.btn--simple{
    color: $color;
    border-color: $color;
    &:hover{
      background: lighten($background-color, 10);
    }
  }
  .btn--simple{
    border-color: rgba(255,255,255,0);
    &:hover{
      color: $color;
      border-color: $color;
      background: none;
    }
  }
}

// Backgrond color Modifiers
.card--primary-color{
  @include cardColor($primary);
}

.card--secondary-color-magenta{
  @include cardColor($secondary-magenta);
}

.card--secondary-color-purple-dark{
  @include cardColor($secondary-purple-dark);
}

.card--secondary-color-purple{
  @include cardColor($secondary-purple);
}

.card--secondary-color-brown{
  @include cardColor($secondary-brown);
}

.card--secondary-color-orange{
  @include cardColor($secondary-orange);
}

.card--secondary-color-yellow{
  @include cardColor($secondary-yellow, $primary-dark);
}

.card--secondary-color-lime{
  @include cardColor($secondary-lime, $primary-dark);
}

// Media Querie
// ----------------------
@media (max-width: $break-default){
  .card__small{
    min-width: $unit * 50;
  }
}