.menu{
  height: 100%;
  width: 100%;
}

// Menu Elements
// ----------------------
.menu__link-list{
  list-style:none;
  padding-left: $unit-4;
  a{
    box-shadow: none;
    display: inline-block;
    padding: $unit 0;
  }
}

// Menu Modifiers
// ----------------------
.menu--fixed{
  position: fixed;
  width: $unit-8 *8;
  overflow: auto;
}