.mobile-nav{
  background: white;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: initial;
  z-index: 10;
  box-shadow: $shadow;
  display: none;
  justify-content: space-around;
}

// Mobile Nav Elements
// ----------------------
.mobile-nav__button{
  text-align: center;
  margin: $unit 0;
  opacity: 0.75;
  flex: 1 1 0;
  &:hover{
    background: $gray-lighter-max;
    opacity: 1;
  }
  img{
    object-fit: contain;
    height: $unit * 8;
    width: $unit * 8;
    padding: $unit 0;
  }
}

// Mobile Nav Modifiers
// ----------------------
.mobile-nav--desktop{
  display: flex;
}

.mobile-nav--active{
  font-weight: bold;
  opacity: 1;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    background: $primary-75;
    right: 0;
    top: -$unit;
    height: $unit;
    width: 100%;
  }
}


// Media Querie
// ----------------------
@media (max-width: $break-default){
  .mobile-nav{
    display: flex;
  }
  .mobile-nav__button{
    font-size: $unit * 2.25;
    img{
      height: $unit * 7;
      width: $unit * 7;
    }
    figcaption{
      line-height: 1.3;
      font-size: $unit * 2.25;
    }
  }
}