.nav{
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $unit-2;
  width: 100%;
  box-shadow: $shadow;
  .btn, h2{
    margin: 0;
  }
}


// Nav Elements
// ----------------------
.nav__logo{
  height: $unit-8 * 1.25;
}

// Nav Modifiers
// ----------------------
.nav--fixed{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: initial;
  z-index: 10;
}

.nav--primary-color{
  background: $primary;
  color: $white;
}

.nav--secondary-color-purple{
  background: $secondary-purple;
  color: $white;
}

.nav--secondary-color-purple-dark{
  background: $secondary-purple-dark;
  color: $white;
}

.nav--secondary-color-magenta{
  background: $secondary-magenta;
  color: $white;
}

.nav--secondary-color-brown{
  background: $secondary-brown;
  color: $white;
}

.nav--secondary-color-orange{
  background: $secondary-orange;
  color: $white;
}

.nav--secondary-color-yellow{
  background: $secondary-yellow;
  color: $secondary-brown
}

.nav--secondary-color-lime{
  background: $secondary-lime;
  color: $primary-dark;
}

// Media Querie
// ----------------------
@media (max-width: $break-default){
  .nav--display-none-mobile{
    display: none;
  }
  .nav__logo{
    height: $unit-4 + $unit-2;
  }
}