.pattern{
  position: relative;
  &:before, &:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

// Pattern Modifiers
// ----------------------
.pattern--orange-goop{
  &:before{
    background: white url('../img/patterns/orange-goop.svg') no-repeat center -20%;
    background-size: 130%;
  }
}

.pattern--gray-goop{
  &:before{
    background: white url('../img/patterns/gray-goop.svg') no-repeat center -20%;
    background-size: 130%;
  }
}

.pattern--orange-goop-right-side{
  &:before{
    background: white url('../img/patterns/orange-goop.svg') no-repeat;
    background-size: 100%;
    transform: rotate(90deg);
    top: 20 * $unit;
    bottom: -20 * $unit;
  }
}

.pattern--gray-goop-right-side{
  &:before{
    background: white url('../img/patterns/gray-goop.svg') no-repeat;
    background-size: 100%;
    transform: rotate(90deg);
    top: 20 * $unit;
    bottom: -20 * $unit;
  }
}