.grid{
  display:flex;
}

// Grid Elements
// ----------------------
.grid__container{
  max-width: $container-width;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 $unit-2;
}
.grid__menu{
  padding: $unit-2;
  min-width: $unit-8 *8;
  position: relative;
}
.grid__columns{
  display:flex;
  margin-top: $unit-2;
  margin-bottom: $unit-2;
  margin-right: - $unit-2;
  margin-left: - $unit-2;
  & > *{
    margin: $unit-2;
    flex: 1 1 0;
  }
}

// Grid Modifiers
// ----------------------
.grid--wrap{
  flex-wrap: wrap;
  & > *{
    flex: initial;
  }
}

.grid--nowrap{
  flex-wrap: nowrap;
}

.grid--align-start{
  align-items: flex-start;
}

.grid--no-margin{
  margin:initial;
}

// Media Querie
// ----------------------
@media (max-width: $break-default){
  .grid{
    display: initial;
  }
  .grid__columns{
    flex-wrap: wrap;
    & > *{
    flex: initial;
    }
  }
  .grid--overflow-mobile{
    overflow: auto;
    flex-wrap: nowrap;
  }
  .grid--display-none-mobile{
    display: none;
  }
}