//public page and site added because of Liferay
.grid, .public-page, .site{
  display:flex;
  & > .grid__container, & > .flipped{
    margin-top: $line-height * 3;
  }
}

// Grid Elements
// ----------------------
//Flipped because of Liferay
.grid__container, .flipped{
  width: calc(100% - #{$line-height});
  max-width: $container-width;
  margin: auto;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  padding: 0 $unit * 3;
}

.grid__menu{
  padding-right: $unit-2;
  padding-left: $unit-2;
  min-width: $unit-8 *8;
  position: relative;
}
.grid__columns{
  display:flex;
  margin-right: - $unit * 3;
  margin-left: - $unit * 3;
  min-width: 0; //Firefox
  & > *{
    margin: $unit * 3;
    flex: 1 1 0;
  }
}

.grid__container-full{
  padding: 0 $unit * 3;
  width: calc(100% - 27px);
  margin: auto;
  margin-top: $line-height;
  display: flex;
  flex-direction: column;
}

// Grid Modifiers
// ----------------------
.grid--wrap{
  flex-wrap: wrap;
  & > *{
    flex: initial;
  }
}

.grid--nowrap{
  flex-wrap: nowrap;
}

.grid--vertical{
  flex-direction: column;
}

.grid--no-margin{
  margin-right:initial;
  margin-left:initial;
}

.grid--align-start{
  align-items: flex-start;
}

.grid--background-light{
  background: lighten($gray-lighter-max, 6) ;
}

.grid--margin-top{
  margin-top: $unit-8 * 3;
}

.grid--overflow{
    overflow: auto;
    flex-wrap: nowrap;
    padding-bottom: $line-height;
    & > *{
    flex: initial;
    min-width: $unit * 65;
    }
    & > *:last-child{
      padding-right: $unit * 3;
    }
  }

.grid--ideal-type{
  display: block;
  width: $ideal-text-column;
  max-width: 100%;
  margin: auto;
}

.grid--spacer{
  padding: $unit * 12 0;
}

// Media Querie
// ----------------------
@media (max-width: $break-default){
  .grid__container{
    margin-top: $line-height * 2 + $unit;
    width: calc(100% - 27px);
  }
  .grid__columns{
    flex-wrap: wrap;
    & > *{
    flex: initial;
    min-width: $unit * 28;
    }
    & > *:not(img){
      width: 100%;
    }
    & > img{
      margin-right: auto;
      margin-left: auto;
    }
  }
  .grid--overflow, .grid--overflow-mobile{
    overflow: auto;
    flex-wrap: nowrap;
    padding-bottom: $line-height;
    & > *:last-child{
      padding-right: $unit * 3;
    }
  }
  .grid--nowrap{
    flex-wrap: nowrap;
  }
  .grid__menu{
    margin-top: 0;
  }
  .grid--spacer, .grid__container.grid--spacer{
  padding: $unit * 6 0;
}
}

// If Internet Explorer
// ----------------------
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .grid, .grid__container{
    display: block;
  }
  .grid__container{
    margin-top: 0;
  }
}