.grid{
  display:flex;
}

// Grid Elements
// ----------------------
.grid__container{
  max-width: $container-width;
  margin: auto;
  margin-top: $line-height * 2;
  display: flex;
  flex-direction: column;
  padding: 0 $unit-2;
}
.grid__menu{
  padding-right: $unit-2;
  padding-left: $unit-2;
  min-width: $unit-8 *8;
  position: relative;
}
.grid__columns{
  display:flex;
  margin-right: - $unit-2;
  margin-left: - $unit-2;
  & > *{
    margin: $unit * 3;
    flex: 1 1 0;
  }
}

// Grid Modifiers
// ----------------------
.grid--wrap{
  flex-wrap: wrap;
  & > *{
    flex: initial;
  }
}

.grid--nowrap{
  flex-wrap: nowrap;
}

.grid--no-margin{
  margin-right:initial;
  margin-left:initial;
}

.grid--align-start{
  align-items: flex-start;
}

.grid--background-light{
  background: lighten($gray-lighter-max, 6) ;
}

.grid--margin-top{
  margin-top: $unit-8 * 3;
}

// Media Querie
// ----------------------
@media (max-width: $break-default){
  .grid{
    display: initial;
  }
  .grid__columns{
    flex-wrap: wrap;
    & > *{
    flex: initial;
    }
  }
  .grid--overflow-mobile{
    overflow: auto;
    flex-wrap: nowrap;
  }
  .grid--display-none-mobile{
    display: none;
  }
  .grid--nowrap{
    flex-wrap: nowrap;
  }
  .grid__menu{
    margin-top: 0;
  }
}

// If Internet Explorer
// ----------------------
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .grid{
    display: block;
  }
  .grid__container{
    margin-top: 0;
  }
}