// Image Modifiers
// ----------------------
.img--thumbnail{
  width: $unit-8 * 4;
  height: $unit-8 * 4;
  object-fit: contain;
  max-width: 90%;
}

.img--centered{
  margin: auto;
  display: block;
}

.img--clickable-icon{
  height: $unit-8;
  width: $unit-8;
  float: right;
  object-fit: contain;
  margin-left: $unit;
  &:last-of-type{
    margin-left: 0;
  }
}
