form{
  overflow: hidden;
}

form, fieldset{
  display: flex;
  flex-direction: column;
  position: relative;
}

fieldset{
  margin-top: $unit-4;
  border: 1px solid $gray-lighter;
  border-radius: $radius;
  padding: $unit-4;
  & > legend:first-child{
    font-weight: 800;
  }
}

label, legend{
  margin-top: $unit-4 + $unit;
  display: inline-block;
}

input, textarea, select{
  &:not([type="submit"]):not([type="radio"]):not([type="checkbox"]):not([type="reset"]){
    padding: $unit-2;
    margin: $unit 0 $unit-2;
    width: $min-text-column;
    max-width: 80vw;
    border: $form-border;
    border-radius: $radius;
    &:focus{
      outline: 3px solid $focus;
      outline-offset: 0;
    }
  }
  &[type="checkbox"],&[type="radio"]{
    -webkit-appearance: none;
    appearance: none;
    border: $form-border;
    height: $unit-4;
    width: $unit-4;
    margin-bottom: $unit / -1.5;
    &:focus{
      outline: 3px solid $focus;
      outline-offset: 0;
    }
    &:checked{
      background: $main-color;
    }
    &:checked + label{
      font-weight: 800;
    }
  }
  &[type="radio"]{
    border-radius: $unit-4;
    &:focus{
      outline: none;
      border-color: $focus;
    }
  }
}

// Elements
.form__hint{
  display: block;
  color: $gray;
}