// ---------
// Utilities
// ---------

.util--display-none{
  display: none!important;
}

.util--no-style{
  margin: 0!important;
  padding: 0!important;
  border: 0!important;
  box-shadow: none!important;
  background: none!important;
  color: initial!important;
  height: initial!important;
  width: initial!important;
  line-height: 0!important;
  display: flex;
}

.util--overflow-hidden{
  overflow: hidden!important;
}

// Media Querie
// ----------------------
@media (max-width: $break-default){
  .util--no-style{
    flex: 1 1 0;
  }
}