// ---------
// Variables: Unimed Colors
// ---------

// Shades of gray
$black: rgb(20,20,20);
$gray-darker: rgb(91,92,101);
$gray-dark: rgb(124,124,131);
$gray: rgb(158,160,168);
$gray-light: rgb(200,201,205);
$gray-lighter: rgb(223,224,225);
$gray-lighter-max: rgb(236,236,236);
$white: rgb(255,255,255);

// Primary colors
$primary-dark: rgb(0,64,26);
$primary: rgb(0,153,93);
$primary-75: rgb(29,170,125);
$primary-50: rgb(122,192,160);
$primary-25: rgb(186,221,204);

// Secondary colors
$secondary-magenta: rgb(237,22,81);
$secondary-magenta-75: rgb(240,102,111);
$secondary-magenta-50: rgb(245,150,149);
$secondary-magenta-25: rgb(250,200,195);

$secondary-purple-dark: rgb(65,21,100);
$secondary-purple-dark-75: rgb(98,68,127);
$secondary-purple-dark-50: rgb(134,114,156);
$secondary-purple-dark-25: rgb(182,171,202);

$secondary-purple: rgb(163,35,142);
$secondary-purple-75: rgb(179,95,164);
$secondary-purple-50: rgb(198,141,190);
$secondary-purple-25: rgb(222,193,221);

$secondary-brown: rgb(104,45,0);
$secondary-brown-75: rgb(135,83,44);
$secondary-brown-50: rgb(170,127,95);
$secondary-brown-25: rgb(209,181,160);

$secondary-orange: rgb(244,121,32);
$secondary-orange-75: rgb(246,150,81);
$secondary-orange-50: rgb(250,182,131);
$secondary-orange-25: rgb(253,217,187);

$secondary-yellow: rgb(255,203,8);
$secondary-yellow-75: rgb(255,213,91);
$secondary-yellow-50: rgb(255,225,145);
$secondary-yellow-25: rgb(255,238,197);

$secondary-lime: rgb(177,211,75);
$secondary-lime-75: rgb(194,219,121);
$secondary-lime-50: rgb(212,229,163);
$secondary-lime-25: rgb(231,240,206);

//Gradients
$orange-to-magenta: linear-gradient(to right,$secondary-orange,$secondary-magenta);
$lime-to-green: linear-gradient(to right,$secondary-lime,$primary);