.menu{
  border-right: 1px solid $gray-light;
  height: 100%;
  width: 100%;
}

// Menu Elements
// ----------------------
.menu__link-list{
  list-style:none;
  a{
    box-shadow: none;
  }
}

// Menu Modifiers
// ----------------------
.menu--fixed{
  position: fixed;
  width: $unit-8 *8;
}