@font-face {
  font-family: "Unimed Sans";
  src: url('../fonts/unimedsans-regular-webfont.eot');
  src: url('../fonts/unimedsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/unimedsans-regular-webfont.woff2') format('woff2'),
       url('../fonts/unimedsans-regular-webfont.woff') format('woff'),
       url('../fonts/unimedsans-regular-webfont.ttf') format('truetype'),
       url('../fonts/unimedsans-regular-webfont.svg#unimed_sansregular') format('svg'),
       url("../fonts/UnimedSans-Regular.otf") format('opentype');
  font-display: swap;
}

@font-face {
  font-family: "Unimed Sans";
  src: url("../fonts/UnimedSans-RegularItalic.otf") format('opentype');
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Unimed Sans";
  src: url('../fonts/unimedsans-bold-webfont.eot');
  src: url('../fonts/unimedsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/unimedsans-bold-webfont.woff2') format('woff2'),
       url('../fonts/unimedsans-bold-webfont.woff') format('woff'),
       url('../fonts/unimedsans-bold-webfont.ttf') format('truetype'),
       url('../fonts/unimedsans-bold-webfont.svg#unimed_sansbold') format('svg'),
       url("../fonts/UnimedSans-Bold.otf") format('opentype');
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: "Unimed Sans";
  src: url("../fonts/UnimedSans-BoldItalic.otf") format('opentype');
  font-display: swap;
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Unimed Serif";
  src: url("../fonts/UnimedSerif-Regular.otf") format('opentype');
  font-display: swap;
}

@font-face {
  font-family: "Unimed Serif";
  src: url("../fonts/UnimedSerif-RegularItalic.otf") format('opentype');
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Unimed Serif";
  src: url("../fonts/UnimedSerif-Bold.otf") format('opentype');
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: "Unimed Serif";
  src: url("../fonts/UnimedSerif-BoldItalic.otf") format('opentype');
  font-display: swap;
  font-weight: bold;
  font-style: italic;
}
