// ---------
// Variables
// ---------
//
// 1 - Colors
// 2 - Units and Sizes
// 3 - Fonts
// 4 - Shadows
// 6 - Transitions


// 1 - Colors
// ---------
$font-color: $gray-darker;
$main-color: $primary-75;
$contrast-color: $secondary-orange;
$link-color: $secondary-purple-dark;

// 2 - Units and sizes
// ---------
$unit: 4.5px;
$unit-2: calc(#{$unit} * 2);
$unit-4: calc(#{$unit} * 4);
$unit-8: calc(#{$unit} * 8);

// Units aplied
$font-size: $unit-4;
$radius: calc(#{$unit} * 0.75);

// 3 - Fonts
// ---------
$font-sans-serif: "Unimed Sans", "Trebuchet MS", sans-serif;
$font-serif:  "Unimed Serif", Georgia, serif;
$line-height: 1.5;

// Text Column sizing
$max-text-column: calc(195 * #{$unit});
$min-text-column: calc(120 * #{$unit});
$ideal-text-column: calc(170 * #{$unit});

// 4 - Shadows
// ---------
$shadow: 2px 2px 8px 0px $gray-light;
$shadow-strong: 2px 2px 10px 0px $gray;

// 5 - Transitions
// ---------
$transition-fast: 0.3s;
$transition: 0.5s;
$transition-slow: 0.7s;